# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Results
results/

# OS files
.DS_Store
Thumbs.db